.global-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: -2rem;

  & .icon {
    fill: white;
  }

  & .paragraph {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
