.contact-card {
  background-color: var(--color-green);
  overflow: hidden;
  position: relative;
  text-align: center;

  &::after {
    background-color: black;
    content: '';
    display: block;
    width: 100%;
    height: 200px;
    top: calc(100% - 4rem);
    position: absolute;
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  .wrapper__inner {
    color: white;
    padding: 4rem;

    @media (--medium) {
      padding: 8rem;
    }
  }

  &__ship.icon {
    animation-name: rock;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    height: 300px;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 160px);
    width: 300px;
    z-index: 1;

    svg {
      animation-name: rise;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  &__wave.icon {
    display: none;

    @media (--medium) {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 1rem;
      height: 750px;
      width: 750px;
      bottom: -375px;
      animation-name: wave;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      z-index: 1;
    }
  }

  &__wave-reverse.icon {
    display: none;

    @media (--medium) {
      display: inline-block;
      position: absolute;
      bottom: -450px;
      left: 1rem;
      height: 850px;
      width: 850px;
      animation-name: wave-reverse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-delay: 0.3s;
      z-index: 1;
    }
  }
}

@keyframes rock {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(7deg);
  }
}

@keyframes rise {
from {
    transform: translateY(0);;
  }

  to {
    transform: translateY(2rem);
  }
}

@keyframes wave {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-2rem);
  }
}

@keyframes wave-reverse {
  from {
    transform: translateY(0%) rotateY(180deg);
  }

  to {
    transform: translateY(-2rem) rotateY(180deg);
  }
}
