.wrapper {
  & > &__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &--small {
    & > .wrapper__inner {
      max-width: 800px;
    }
  }

  &--medium {
    & > .wrapper__inner {
      max-width: 1000px;
    }
  }

  &--large {
    & > .wrapper__inner {
      max-width: 1200px;
    }
  }
}
