.magic-header {
  color: var(--color-text);
  padding-top: 4rem;
  position: relative;
  overflow: hidden;

  @media (--medium) {
    padding: 6rem 2rem 2rem;
  }

  &__body {
    display: grid;
    grid-gap: 3rem;
    position: relative;
    z-index: 2;
    
    @media(--large) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    &-left {
      flex: 1;
    }
    
    &-right {
      flex: 1;
      margin-top: 2rem;
      
      @media(--large) {
        margin-top: 15rem;
      }
    }
  }

  @media (--medium) {
    & > .wrapper__inner {
      & > .heading--h1,
      & > .heading--h4 {
        max-width: 50%;
      }
    }
  }
}
