.magic-header {
  color: var(--color-text);
  padding-top: 4rem;
  position: relative;
  overflow: hidden;

  @media (--medium) {
    padding: 6rem 2rem 2rem;
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__raineer.icon {
    height: 100%;
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    z-index: 1;

    @media (--medium) {
      bottom: -6rem;
    }
  }

  @media (--medium) {
    & > .wrapper__inner {
      & > .heading--h1,
      & > .heading--h4 {
        max-width: 50%;
      }
    }
  }
}
