.magic-header {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 10rem 2rem 8rem;
  position: relative;
  overflow: hidden;

  &__body {
    position: relative;
    z-index: 2;
  }

  &__raineer.icon {
    height: 100%;
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    z-index: 1;

    @media (--medium) {
      bottom: -6rem;
    }
  }

  @media (--medium) {
    & > .wrapper__inner {
      & > .heading--h1,
      & > .heading--h4 {
        max-width: 50%;
      }
    }
  }
}
